.container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin-bottom: 5rem;

  >:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.pageTop {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.pageBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
  line-height: 1.5;

  padding: 0 1rem;

  >:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.pageBottom {
  display: flex;
  align-items: flex-start;
  padding-right: 2rem;

  >:not(:last-child) {
    margin-right: 5rem;
  }
}

.reviewContainer {
  display: flex;
  flex-direction: column;
  padding: 16px;
  width: 100%;

  >:not(:last-child) {
    margin-bottom: 1rem;
  }
}