.count {
  color: white;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  list-style: none;
}

.drawer {
  color: $color-dark;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}