.container {
  display: grid;
  grid-template-areas:
    "image details details details"
    "image actions actions actions";
  width: 100%;
  padding: 0.5rem 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  &:first-child {
    margin-top: 1rem;
  }
}

.image {
  grid-area: image;
}

.details {
  grid-area: details;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.actions {
  display: flex;
  justify-content: space-between;
  grid-area: actions;
}