.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;

  >:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

.search {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;

  >:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.flexRow {
  display: flex;

  >:not(:last-child) {
    margin-right: 0.5rem;
  }
}