.container {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  align-self: flex-start;
  width: 100%;

  >:not(:last-child) {
    margin-bottom: 0.2rem;
  }
}

.select {}

.flexRow {
  display: flex;

  >:not(:last-child) {
    margin-right: 0.5rem;
  }
}