/* Select.module.scss */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.label {
  font-size: 1rem;
  font-weight: 500;
  color: white;
  margin-bottom: 0.5rem;
}

.select {
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  min-width: 2rem;
  border-radius: 4px;
  background-color: #fff;
  color: #333;
  appearance: none;
  /* Removes default arrow for custom styling */
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='currentColor' class='bi bi-caret-down-fill' viewBox='0 0 16 16'%3E%3Cpath d='M7.247 11.14l-4.796-5.481C2.105 5.262 2.52 4.5 3.207 4.5h9.586c.686 0 1.102.762.756 1.16l-4.796 5.48a1 1 0 0 1-1.414 0z'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 1rem;
  cursor: pointer;
  transition: border-color 0.2s, box-shadow 0.2s;

  &:hover {
    border-color: #999;
  }

  &:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.25);
  }
}

.option {
  font-size: 1rem;
  padding: 0.5rem;
}