.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;

  >:first-child {
    margin-bottom: 1rem;
  }
}

.listContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 65vh;
  overflow: scroll;
  padding: 0 1rem;

  >:first-child {
    margin-top: 1rem;
  }

  >:not(:last-child) {
    margin-bottom: 1rem;
  }
}