.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    min-height: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid $color-dark;
    border-radius: 5px;

    >div {
        margin-bottom: 10px;

        >label {
            display: block;
            margin-bottom: 5px;
        }

        >input {
            width: 100%;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }
    }

    >:not(:last-child) {
        margin-bottom: 2rem;
    }
}