.display {
  @include display-font;
  color: inherit;
}

.order1 {
  @include order-1-font;
  color: inherit;
}

.order2 {
  @include order-2-font;
  color: inherit;
}

.order3 {
  @include order-3-font;
  color: inherit;
}

.copy1 {
  @include copy-1-font;
  color: inherit;
}

.copy2 {
  @include copy-2-font;
  color: inherit;
}